@import "tailwindcss";

:root {
  --color-bg-base: #00101a;
  --color-header-bg: rgba(11, 15, 18, 0.8);
  --color-cta-primary: #ffea9e;
  --color-cta-text: #00101a;
  --color-divider: #2e3940;
}

body {
  background: var(--color-bg-base);
  color: #ffffff;
}
